<%- include('../partials/header') %>
<table id="list">
    <tbody>
      <th>Name:</th>
      <th>Address:</th>
      <th>Access Code:</th>
      <th></th>
    <% bathrooms.forEach(function(b) { %>
      <tr>
        <td><%= b.name %></td>
        <td><%= b.address %></td>
        <td><%= b.accessCode %></td>
        <td><a href="/bathrooms/<%= b._id %>">Details</a></td>
      <% }); %>
    </tbody>
  </table>
</body>
</html>