<%- include('../partials/header') %>
<section id="show-page">
  <table>
    <div>Name:</div>
    <div><%= bathroom.name %></div>
    <div>Address:</div>
    <div><%= bathroom.address %></div>
    <div>Access Code:</div>
    <div><%= bathroom.accessCode %></div>
</table>
<h2>Reviews</h2>
<% if (user) { %>
  <form id="review-form" method="POST" action="/bathrooms/<%= bathroom._id %>/reviews">
    <textarea name="review"></textarea>
    <input type="submit" value="Add Review">
  </form>
  <!-- <% } else { %>
    <span>Login to review</span>
    <% } %>
<% if (bathroom.reviews.length) { %>
      <% let total = 0 %>
      <% bathroom.reviews.forEach(function(b) { %>
        <tr>
          <td class="review-user"><%= b.userName %></td>
          <td><%= b.content %></td>
          <td>
            <% if (user && user._id.equals(bathroom.userId)) { %>
              <form action="/review/<%= bathroom._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
                </form>
                <% } %> -->
          </td>
        </tr>
      <% }); %>
    </section>
    <% } %>
</body>
</html>
